<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Spring web service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery/5.2.3/js/bootstrap.min,js}"></script>
</head>
<body>
<div>

    <form class="form-horizontal" th:object="${knight}" th:action="@{/assignQuest}" th:method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{name}"/>
        <input type="hidden" th:field="*{age}"/>
        <input type="hidden" th:field="*{level}"/>
        <div class="form-group">
            <label class="control-label"> Wykonaj zadanie </label>
            <select th:field="*{quest}">
                <option th:each="quest : ${notStartedQuests}"
                        th:value="${quest.id}"
                        th:text="${quest.desc}"></option>

            </select>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Wyślij rycerza na questa</button>
        </div>
    </form>
</div>
</body>
</html>